<header class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Sushi Roll</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/'>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/login'>Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/manga'>Manga</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink='/anime'>Anime</a>
                </li>
            </ul>
        </div>
    </nav>
</header>